* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    background-color: burlywood;
    color: #555;
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

button :link,
button:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    background-color: coral;
    border: transparent;
    transition: backgroun-color 0.2s;
}

button:active,
button:hover {
    background-color: brown;
}

